.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.fasta
*.fa
*.fna
*.faa
*.bam
*.sam
*.cram
*.bai
*.sai
*.fai
*.csi
*.vcf
*.vcf.gz
*.bcf
*.bw
*.bigWig
*.wig
*.bedgraph

*.tar
*.tar.gz
*.tgz
*.zip
*.gz
*.bz2
*.7z

.snakemake/
results/
logs/
.nextflow/
.nextflow.log*
work/

__pycache__/
*.pyc
.venv/
venv/
.env
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.conda/
env/
.ipynb_checkpoints/

.DS_Store
Thumbs.db
.vscode/
.idea/

!*.csv
!*.tsv
!*.txt
!*.md
!*.Rmd
!*.qmd
